@import 'variables';
.underline-sec {
    border-bottom: $secondary-color solid .15rem;
    padding-bottom: 1.4rem;
}

.mini-underline-sec {
    border-bottom: $secondary-color solid .15rem;
    padding-bottom: 1.4rem;
}

.big-card {}