@import 'variables';
.underline-sec {
    border-bottom: $secondary-color solid .15rem;
    padding-bottom: 1.4rem;
}

.mini-underline-sec {
    border-bottom: $secondary-color solid .15rem;
    padding-bottom: 1.4rem;
}

.big-card {
    border: solid $secondary-color 1px;
    border-radius: 1.25rem;
    box-shadow: 7px 1px 5px 0px rgba(0, 0, 0, 0.14);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2.5rem 3.5rem;
    padding: 1.5rem;
}