@import 'variables';
.underline-sec {
    border-bottom: $secondary-color solid .15rem;
    padding-bottom: 1.4rem;
}

.mini-underline-sec {
    border-bottom: $dim-color solid 1px;
    margin-bottom: 1rem;
}

.dotted-underline {
    border-bottom: $dim-color dotted 1px;
    margin-bottom: 1rem;
}

.link-btn {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border: solid $dim-color 1px;
    border-radius: 1rem;
    color: $primary-color;
    font-size: .9rem;
    padding: .3rem .5rem;
    font-weight: 700;
    transition: .2s ease-in-out;
    &:hover {
        background-color: $primary-color;
        color: #fff;
        border: none;
    }
}

.big-card {
    border: solid $secondary-color 1px;
    border-radius: 1.25rem;
    box-shadow: 7px 1px 5px 0px rgba(0, 0, 0, 0.14);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2.5rem 3.5rem;
    padding: 1.5rem;
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .instructions {
        font-size: 1.25rem;
    }
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
            margin: .25rem .7rem;
            input,
            button {
                background-color: #fff;
                border-color: $dim-color;
                border-radius: 1rem;
                color: $secondary-color;
                outline: none;
                text-overflow: ellipsis;
                font-size: 1rem;
                width: 12rem;
                height: 4.5rem;
                transition: .45s;
                &:active, // Might include on hover
                &:focus {
                    outline: none;
                    background-color: $primary-light;
                    color: #fff;
                    border: none;
                }
            }
        }
    }
}

.tab-btn {
    margin: 0 .5rem;
    border-radius: 1rem;
    border: solid $secondary-color 2px;
    background-color: #fff;
    color: $primary-color;
    padding: .25rem .6rem;
    &:hover,
    &:active,
    &:focus {
        border: solid $secondary-color 2px;
        background-color: $secondary-color;
    }
    &:focus {
        background-color: #fff;
        color: $primary-color;
    }
}

.product-card {}