$primary-color: #63b380;
$primary-light: #96ccaa;
$secondary-color: #6396b3;
$secondary-dark: #036493;
$dim-color: #ccc;
$err-background: #fff7f7;
$err-text: #790000;
$main-font: 'Josefin Sans',
sans-serif;
$secondary-font: "Montserrat",
sans-serif;