@import 'variables';
@import 'functions';
// @import 'utilities';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $main-font;
}

.section-underline {
    border-bottom: blue solid 10px;
}

#root {
    max-width: 71rem;
    margin: 0 auto;
}

ul {
    list-style: none;
}

footer {
    display: flex;
}

a {
    text-decoration: none;
}

p {
    color: $secondary-color;
}

// Header \\
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 12.5rem;
    .header-logo-wrapper {
        .image-wrapper {
            width: 100%;
        }
    }
    .main-nav-wrapper {
        padding: 0 3rem;
    }
    img {
        max-width: 18rem;
    }
}

// Navs \\
// Experimental naver class
// .naver {
//     display: flex;
//     li {
//         color: $primary-color;
//         font-weight: 500;
//         padding: 0 .5rem;
//         transition: .4s;
//         &:hover {
//             transform: translateY(.5rem);
//             color: $secondary-color;
//         }
//         &:active {
//             color: $secondary-color;
//         }
//     }
// }
.main-nav {
    // width: 100%;
    ul {
        display: flex;
        li {
            color: $primary-color;
            font-weight: 500;
            padding: 0 .5rem;
            transition: .4s;
            &:hover {
                transform: translateY(.5rem);
                color: $secondary-color;
            }
            &:active {
                color: $secondary-color;
            }
        }
    }
}

.feature-nav-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1.25rem;
    .feature-nav {
        ul {
            display: flex;
            font-size: 1.5rem;
            li {
                color: $primary-color;
                transition: .6s;
                padding: 0 1.2rem;
                &:hover {
                    transform: translateY(-.5rem);
                    color: $secondary-color;
                }
                &:active {
                    color: $secondary-color;
                }
            }
        }
    }
    border-bottom: $secondary-color solid .15rem;
}